
.post {
    border-radius: 10.5px;
    padding-left: 20px;
    width: 29%;
    padding-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 5px;

}

.postText {
    border: 1.5px solid green;
}

.postImg {
    border: 1.5px solid violet;
}

.postImgElement {
    height: 140px;
}

.overflowText {
    height: 112px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.postBottom {
    margin-bottom: 3px;
}

.postLikeButton {
    margin-right: 3px;
}

@media screen and (min-width: 1100px) {
    .post {
        width: 29%;
    }
}

@media screen and (max-width: 1100px) {
    .post {
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .post {
        width: 80%;
    }
}

.resumeSelected {
    background-color: Green;
}